{% block header %}
<header class="container">
    <div class="row">
        <div class="col">
            <h1>BLOG</h1>
        </div>
        <div class="col">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Блог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">О бомне</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
              </li>
            </ul>
        </div>
    </div>
</header>
{% endblock header %}